@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
@import url('./reset.css');
:root {
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.07);
    --second-green-color: linear-gradient(45deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%,rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%,rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%,rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%,rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%,rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%,rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%);
    --green-color: linear-gradient(246deg, rgba(234, 234, 234, 0.04) 0%, rgba(234, 234, 234, 0.04) 33.3%,rgba(69, 69, 69, 0.04) 33.3%, rgba(69, 69, 69, 0.04) 66.6%,rgba(189, 189, 189, 0.04) 66.6%, rgba(189, 189, 189, 0.04) 99.89999999999999%),linear-gradient(81deg, rgba(126, 126, 126, 0.05) 0%, rgba(126, 126, 126, 0.05) 33.3%,rgba(237, 237, 237, 0.05) 33.3%, rgba(237, 237, 237, 0.05) 66.6%,rgba(74, 74, 74, 0.05) 66.6%, rgba(74, 74, 74, 0.05) 99.89999999999999%),linear-gradient(14deg, rgba(3, 3, 3, 0.08) 0%, rgba(3, 3, 3, 0.08) 33.3%,rgba(156, 156, 156, 0.08) 33.3%, rgba(156, 156, 156, 0.08) 66.6%,rgba(199, 199, 199, 0.08) 66.6%, rgba(199, 199, 199, 0.08) 99.89999999999999%),linear-gradient(323deg, rgba(82, 82, 82, 0.06) 0%, rgba(82, 82, 82, 0.06) 33.3%,rgba(179, 179, 179, 0.06) 33.3%, rgba(179, 179, 179, 0.06) 66.6%,rgba(212, 212, 212, 0.06) 66.6%, rgba(212, 212, 212, 0.06) 99.89999999999999%),linear-gradient(32deg, rgba(70, 70, 70, 0.02) 0%, rgba(70, 70, 70, 0.02) 33.3%,rgba(166, 166, 166, 0.02) 33.3%, rgba(166, 166, 166, 0.02) 66.6%,rgba(53, 53, 53, 0.02) 66.6%, rgba(53, 53, 53, 0.02) 99.89999999999999%),linear-gradient(38deg, rgba(129, 129, 129, 0.09) 0%, rgba(129, 129, 129, 0.09) 33.3%,rgba(38, 38, 38, 0.09) 33.3%, rgba(38, 38, 38, 0.09) 66.6%,rgba(153, 153, 153, 0.09) 66.6%, rgba(153, 153, 153, 0.09) 99.89999999999999%),linear-gradient(63deg, rgba(51, 51, 51, 0.02) 0%, rgba(51, 51, 51, 0.02) 33.3%,rgba(12, 12, 12, 0.02) 33.3%, rgba(12, 12, 12, 0.02) 66.6%,rgba(158, 158, 158, 0.02) 66.6%, rgba(158, 158, 158, 0.02) 99.89999999999999%),linear-gradient(227deg, rgba(63, 63, 63, 0.03) 0%, rgba(63, 63, 63, 0.03) 33.3%,rgba(9, 9, 9, 0.03) 33.3%, rgba(9, 9, 9, 0.03) 66.6%,rgba(85, 85, 85, 0.03) 66.6%, rgba(85, 85, 85, 0.03) 99.89999999999999%),linear-gradient(103deg, rgba(247, 247, 247, 0.07) 0%, rgba(247, 247, 247, 0.07) 33.3%,rgba(93, 93, 93, 0.07) 33.3%, rgba(93, 93, 93, 0.07) 66.6%,rgba(208, 208, 208, 0.07) 66.6%, rgba(208, 208, 208, 0.07) 99%),linear-gradient(0deg, #0b91d7,#6efc29);
}
  
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Raleway',  sans-serif;
    color: white;
  }

.header {
    background: rgba(8, 8, 8, 0.58);
    width: 100%; 
}

.header__logo {
   height: 50px;
   width: 50px;
}

.container {
  max-width: 100%;
  margin: 0 2rem 0 2rem;
}

.nav {
    max-width: 100%;
    padding: 1rem 3rem;
}

.header__container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav__link {
  margin-left: 1.5rem;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}


.nav-btn {
  padding: 11px 35px;
	background-image: var(--green-color);
	border-radius: 50px;
  transition: all .7s;
}


.nav-btn:hover {
    background: #ffffff;
    color: rgb(13, 119, 31);
}

.nav__item span {
    padding-right: 10px;
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url('../img/avtovokzal-orel-1024x508.png');
    background-size: cover;

    --webkit-background-size: cover;
    height: 1000px;
}

.main__section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 2;
}

.inner {
    position: relative;
    padding: 50px;  
    z-index: 3;
    color: #fff;
    text-align: center;
  }

.main__title {
    font-size: 65px;
    font-weight: normal;
}

@media screen and (max-width: 1200px ) {
  .main__title {
    font-size: 50px;
  }
}

.title__block {
    padding-top: 100px;
}

.new-search-form {
    width: 65rem;
    margin: 200px auto;
    padding: 1.5rem;
    border: 1px solid #fff;
  }

  .form-container {
    margin: 0 auto;
  }

  .new-search-form {
    display: table;
    margin-left: auto;
  }

  .new-search-form .form-container {
    display: table-row;
  }

  .new-search-form .desc {
    height: 3.2rem;
    margin-top: .57rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    font-size: .78rem;
    color: #828282;
    
  }

.point {
    height: 4rem;
    width: 16rem;
    padding-right: 1.1rem;
    padding-left: 1rem;
    background-color: #FFFFFF;
    border: .07142857rem solid #E0E0E0;
    border-radius: .28rem;
    line-height: 2rem;
    color: black;
    font-size: 1rem;
    
  }

 @media screen and (min-width: 1100px ) {
  .new-search-form .form-container > div {
    display: table-cell;
    vertical-align: top;
  }
 }

  .button-search {
    height: 4rem;
    width: 9rem;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 2rem;
    border-radius: .28rem;
    background-image: var(--green-color);
    transition: color, background .7s;
  }

  .button-search:hover {
    background: #ffffff;
    color: rgb(13, 119, 31);    
    cursor: pointer;
  }

  @media screen and (max-width: 1100px ) {
    .new-search-form {
      width: 40rem;
      border: transparent;
    }
    .point {
      margin-bottom: 1rem;
    }

    .button-search {
      margin-top: 1rem;
      
    }
  }

  .aside-block {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--second-green-color);
  
}

.aside-block-title {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;   
    font-size: 20px;
}

.popular-wrapper {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px 30px;
    margin: 0 auto;
}

.popular__card {
  width: 340px;
  height: 250px;
  position: relative;
  text-align: center;
}

.popular__img {
    width: 340px;
    height: 250px;
    margin-bottom: 12px;
    overflow: var(--img-hidden);
    transition: var(--img-transition);
}

.popular__img:hover {
    transform: var(--img-scale);
}

.popular__link {
    transition: all ease 0.4s;
}


.popular__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
}

.display-none {
  display: none;
}

.footer {
    background-image: var(--green-color);
    min-height: 200px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__subtitle {
    margin-bottom: 1rem;
}

.footer__title {
    margin-bottom: 1.5rem;
}

.footer__description {
    margin-bottom: 2rem;
}

.footer__item {
    margin-bottom: 0.75rem;
}

.footer__social {
    font-size: 1.25rem;
    color: white;
    margin-right: 1.25rem;
  }

  .footer a {
    position: relative;
    padding-bottom: 0.5rem;
  }

  .footer .footer__link::after {
    position: absolute;
    left: -15px;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: #FBD784;
    transition: all 0.4s ease-out;
}

.footer .footer__link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    opacity: 1;
    background-color: #ffffff;
}

@media screen and (max-width: 850px ) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
  }

  .footer__data {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .footer__subtitle, .footer__title {
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  .footer__item {
    margin-bottom: 1rem;
}
}

@media screen and (max-width: 520px ) {
  .main__title {
    font-size: 25px;
    font-weight: 700;
  }

  .new-search-form {
    margin: 100px auto;
  }

  .main__section {
    height: 750px;
  }

  .aside-block-title {
    font-size: 15px;
}

  .footer__item {
    margin-bottom: 0.7rem;
}
}

@media screen and (max-width: 450px ) {
  .nav-btn {
    padding: 7px 17.5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 390px ) {
  .popular__img {
    max-width: 300px;
    max-height: 200px;
  }

  .popular__card {
    max-width: 300px;
    max-height: 200px;
  }
}