:root {
    --main-color: #ffffff;
    --second-color: #262626;
    --btn-color: linear-gradient(246deg, rgba(234, 234, 234, 0.04) 0%, rgba(234, 234, 234, 0.04) 33.3%,rgba(69, 69, 69, 0.04) 33.3%, rgba(69, 69, 69, 0.04) 66.6%,rgba(189, 189, 189, 0.04) 66.6%, rgba(189, 189, 189, 0.04) 99.89999999999999%),linear-gradient(81deg, rgba(126, 126, 126, 0.05) 0%, rgba(126, 126, 126, 0.05) 33.3%,rgba(237, 237, 237, 0.05) 33.3%, rgba(237, 237, 237, 0.05) 66.6%,rgba(74, 74, 74, 0.05) 66.6%, rgba(74, 74, 74, 0.05) 99.89999999999999%),linear-gradient(14deg, rgba(3, 3, 3, 0.08) 0%, rgba(3, 3, 3, 0.08) 33.3%,rgba(156, 156, 156, 0.08) 33.3%, rgba(156, 156, 156, 0.08) 66.6%,rgba(199, 199, 199, 0.08) 66.6%, rgba(199, 199, 199, 0.08) 99.89999999999999%),linear-gradient(323deg, rgba(82, 82, 82, 0.06) 0%, rgba(82, 82, 82, 0.06) 33.3%,rgba(179, 179, 179, 0.06) 33.3%, rgba(179, 179, 179, 0.06) 66.6%,rgba(212, 212, 212, 0.06) 66.6%, rgba(212, 212, 212, 0.06) 99.89999999999999%),linear-gradient(32deg, rgba(70, 70, 70, 0.02) 0%, rgba(70, 70, 70, 0.02) 33.3%,rgba(166, 166, 166, 0.02) 33.3%, rgba(166, 166, 166, 0.02) 66.6%,rgba(53, 53, 53, 0.02) 66.6%, rgba(53, 53, 53, 0.02) 99.89999999999999%),linear-gradient(38deg, rgba(129, 129, 129, 0.09) 0%, rgba(129, 129, 129, 0.09) 33.3%,rgba(38, 38, 38, 0.09) 33.3%, rgba(38, 38, 38, 0.09) 66.6%,rgba(153, 153, 153, 0.09) 66.6%, rgba(153, 153, 153, 0.09) 99.89999999999999%),linear-gradient(63deg, rgba(51, 51, 51, 0.02) 0%, rgba(51, 51, 51, 0.02) 33.3%,rgba(12, 12, 12, 0.02) 33.3%, rgba(12, 12, 12, 0.02) 66.6%,rgba(158, 158, 158, 0.02) 66.6%, rgba(158, 158, 158, 0.02) 99.89999999999999%),linear-gradient(227deg, rgba(63, 63, 63, 0.03) 0%, rgba(63, 63, 63, 0.03) 33.3%,rgba(9, 9, 9, 0.03) 33.3%, rgba(9, 9, 9, 0.03) 66.6%,rgba(85, 85, 85, 0.03) 66.6%, rgba(85, 85, 85, 0.03) 99.89999999999999%),linear-gradient(103deg, rgba(247, 247, 247, 0.07) 0%, rgba(247, 247, 247, 0.07) 33.3%,rgba(93, 93, 93, 0.07) 33.3%, rgba(93, 93, 93, 0.07) 66.6%,rgba(208, 208, 208, 0.07) 66.6%, rgba(208, 208, 208, 0.07) 99%),linear-gradient(0deg, #0b91d7,#6efc29);
}

.modal {
    position: relative;
    background-color: var(--main-color);
    max-width: 950px;
    border: 1px solid var(--second-color);
    border-radius: 14px;
    padding: 60px 85px;
    color: var(--second-color);
    width: 100%;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    transition: color .3s ease-in;
}

.modal__close:hover {
    color: var(--second-color);
}

.modal__close:focus {
    color: var(--second-color);
}

.modal__title {
    font-family: Arial;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    display: block;
    position: relative;
}


.modal__label-text {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--second-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;

}

.modal__input {
    width: 100%;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    padding: 45px 15px 31px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.modal__input:focus {
    border: 1px solid var(--second-color);

}

.modal__label-last {
    margin-bottom: 60px;
}

.modal__button {
    padding: 14px 36px;
    background-image: var(--btn-color) ;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--main-color);
    align-self: flex-start;
    border: 0;
}

.modal__button:hover {
    background: #ffffff;
    color: rgb(13, 119, 31); 
    border: 1px solid var(--second-color);
}

.modal__link {
    margin-bottom: 7px;
    padding: 7px 22px;
    align-self: flex-end;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: rgb(13, 119, 31); 
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
    display: none;
}


.overlay_active {
    display: flex;
}

@media(max-width: 1200px) {
    .modal {
        padding: 50px 100px;
        max-width: 746px;
    }

    .modal__title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .modal__label_last {
        margin-bottom: 40px;
    }

    .modal__button {
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 8px;
    }

    .modal__link {
        font-size: 16px;
    }
}

@media(max-width: 1000px) {
    .modal {
        padding: 40px 80px;
        max-width: 600px;
    }
    .modal__title {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .modal__label {
        margin-bottom: 15px;
    }

    .modal__label-text {
        font-size: 14px;
    }

    .modal__label_last {
        margin-bottom: 40px;
    }

    .modal__input {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .modal__button {
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 6px;
    }

    .modal__link {
        font-size: 14px;
    }

}

@media(max-width: 760px) {
    .modal {
        padding: 30px 15px;
    }
    .modal__title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .modal__label-text {
        font-size: 12px;
    }

    .modal__label_last {
        margin-bottom: 15px;
    }

    .modal__input {
        font-size: 12px;
        padding: 38px 10px 16px;
    }

    .modal__button {
        padding: 5px 14px;
        margin-left: 2rem;
    }

    .modal__link {
        margin-bottom: 15px;
    }
}